fastapi
uvicorn

pandas
numpy

scikit-learn

matplotlib
plotly

openpyxl

sqlalchemy

pydantic

python-dotenv

joblib

scipy

statsmodels

xgboost

lightgbm

tensorflow

geopy

folium

python-multipart

requests

loguru

pytest

tabulate
pydantic-settings
